<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

<!--    <bean id="data" class="ma.akram.configserver.service.DataImpl"/>-->
<!--    <bean id="metier" class="ma.akram.configserver.service.MetierImpl">-->
<!--        <property name="dataCall" ref="data"/>-->
<!--    </bean>-->
<!--</beans>-->